#mainPane{
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}
.label{
    -fx-text-fill: rgb(66, 66, 66);
    -fx-font-family: "Century Gothic" ;
}
#title{
    -fx-text-fill: rgb(3, 3, 3);
    -fx-font-family: "Century Gothic" ;
    -fx-font-size: 26px;
    -fx-text-fill:rgb(0, 0, 0);
}
#topPane{
    -fx-background-color: linear-gradient(to left,rgb(201, 197, 0) ,#f8f7a1);
    -fx-background-radius: 40 40 0 0;
}
#btnImport{
     -fx-background-radius: 40 40 40 40;
     -fx-background-color: linear-gradient(to left,rgba(153, 153, 153, 0.445) ,#e6e6e6);
     -fx-effect: dropshadow( gaussian, rgba(228, 228, 228, 0.4), 90, 0.8, 0.0, 0.0 );
     -fx-font-family: "Century Gothic" ;
}
.button{
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: linear-gradient(to left,rgb(0, 13, 201) ,#a7a1f8);
    -fx-font-family: "Century Gothic" ;
}
.button:hover{
    -fx-background-color: linear-gradient(to left,rgb(160, 157, 0) ,#dad614);
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-effect: dropshadow( gaussian, rgba(148, 148, 148, 0.4), 90, 0.8, 0.0, 0.0 );
    -fx-background-radius: 40 40 40 40;
}
.btn:hover{
    -fx-cursor:hand ;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #f7f6c0;
}
.table-view {
    -fx-background-color:whitesmoke;
    -fx-background-radius:12 12 10 10;
}
.table-view .column-header-background{
    -fx-background-color: #b1b402;
    -fx-background-radius:10 10 0 0;   
    -fx-background-insets:0 0 10 0;
}
.table-view .column-header .label{
    -fx-alignment: CENTER;
}
.table-cell{
    -fx-font: 16px "Century Gothic";
    -fx-alignment: CENTER;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-row-cell:odd {
    -fx-background-color: rgb(254, 255, 190);
}
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}
.table-view .column-header .label {
    -fx-text-fill: white ;
}
.table-view .column-header, .table-view .filler{
    -fx-size:50px;
    -fx-background-color: transparent;
}
    #delete{
        -fx-background-color: linear-gradient(to left,#ff8b8b ,#e02929);
        -fx-background-radius: 10;
        -fx-font-family: "Courier New" ;
        -fx-font-style: italic;
        -fx-font-size: 16px;
    }
    #edit{
        -fx-background-color: linear-gradient(to right,#8bc1ff ,#1500ff);
        -fx-background-radius: 10;
        -fx-font-family: "Courier New" ;
        -fx-font-style: italic;
        -fx-font-size: 16px;
    }