.main-pane{
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: white;
}
.box{
    -fx-effect: dropshadow( gaussian, rgba(235, 235, 235, 0.4), 90, 0.8, 0.0, 0.0 );
    -fx-background-radius: 20;
    -fx-background-color: white;
}
#save{
    -fx-font-family: "Century gothic" ;
    -fx-font-style: italic;
    -fx-background-color:linear-gradient(to right,#8bffae ,#39b300);
    -fx-background-radius:20 20 20 20; 
}
#cancel{
    -fx-font-family: "Century gothic" ;
    -fx-background-color: linear-gradient(to right,#ff8b8b ,#ee1b1b);
    -fx-background-radius:20 20 20 20; 
}
#edit{
    -fx-font-family: "Century gothic" ;
    -fx-background-color: linear-gradient(to right,#a48bff ,#491bee);
    -fx-background-radius:20 20 20 20; 
}